#headerImage {
	margin: 0 auto;
	display: block;
	max-width: 90%;
}

h1 {
	text-align: center;
}

input, select {
	display: block;
	margin: 0 auto;
}

textarea {
	width: 310px;
}

#pickStartDate, #pickEndDate {
	display: inline-block;
	width: 100%;
	margin: 10px;
}

#classSignup, #createClass, textarea, button {
	max-width: 310px;
	margin: 10px auto;
	display: block;
}

.ui-datepicker-current-day {
	background-color: yellow;
	border-radius: 10px;
}