body {
	background-color: #1D54A2;
}

p {
	color: white;
	font-size: 2em;
	margin: 20px;
}

#languageList li {
	list-style: none;
	color: white;
	float: left;
	margin: 10px;
	font-size: .8em;
}

#languageList {
	clear: both;
}
#mainHeader {
	font-family: 'Indie Flower', cursive;
	margin: 20px;
	color: #FEB91D;
	font-size: 4em;	
}


nav {
	background-color: rgba(255, 255, 255, 0.5);
}

nav, .welcomeMessage {
	color: white;
	display: block;
	clear: both;
}

nav li {
	list-style: none;
	font-size: 2em;
	float: left;
	padding: 10px;

}

.welcomeWrapper {
	display: block;
}
#welcomeImage {
	margin: 0 auto;
	display: block;
	max-width: 100%;
}

div.socialMedia {
	width: 124px;
	margin: 30px auto;
}

div.socialMedia img {
	height: 60px;
	width: 60px;
}


#headerImage {

	margin: 0 auto;
	display: block;
	max-width: 90%;
}

h1 {
	text-align: center;
}

input, select {
	display: block;
	margin: 0 auto;
}

textarea {
	width: 310px;
}

#pickStartDate, #pickEndDate {
	display: inline-block;
	width: 100%;
	margin: 10px;
}

#classSignup, #createClass, textarea, button {
	max-width: 310px;
	margin: 10px auto;
	display: block;
}

.ui-datepicker-current-day {
	background-color: yellow;
	border-radius: 10px;
}